@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Koulen';
    src: url('fonts/Koulen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen';
    src: url("fonts/Oxygen-Regular.ttf") format("truetype");
}